/* Autor: Jeroen Rijsdijk */

*{
 margin:0;
 padding:0;
}

body{
  display:grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  grid-template-areas:
  "header header header header"
  "main main main main"
  ". . . footer";
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

header {
  grid-area: header;
  height:75vh;
  background: url(../img/switch_2.jpg) no-repeat center center fixed;
  position:relative;
}

header > h1{
  font-size: 260%;
  color:white;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

h1::before, h1::after {
  content: "";
  width: 10rem;
  height:10px;
  display: block;
  position: absolute;
}
h1::before{
  background-color: #FF4136;
  margin-top: -2rem;
}

h1::after{
  background-color: #0074D9;
  margin-top: 2rem;
  right: 0%;
}
.overlay {
  height: 100%;
  width:100%;
  background-color: #111111;
  opacity: 0.9;
}

main{
  grid-area: main;
  min-height:100vh;
}


footer{
  grid-area:footer;
}

.searchWrapper{
  text-align: center;
}

.searchBar{
    padding:20px;
    margin-top:40px;
    width: 40vw;
    font-family: inherit;
    font-size: 140%;
}

.searchBar:focus{
  outline: 7px solid #0074D9;
}
.cardWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    padding:40px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s all;
  border-radius: 5px;
  list-style:none;
}


.card:hover{
  transform:translateY(-10px);
  box-shadow: 0 14px 8px 0 rgba(0,0,0,0.2);
}

.card > h2{
  background-color: black;
  text-align:center;
  color:white;
  padding:20px 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.card > p{
  padding:20px;
}


@media only screen and (max-width: 600px){
  .cardWrapper{
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      padding:20px;
  }

  .searchBar{
    width: 80vw;
  }

  header > h1{
    font-size: 190%;
  }
  footer{
      grid-column-start: 2;
  }

  footer > p {
    font-size: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  .cardWrapper{
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      padding:20px;
  }
  .searchBar{
    width: 80vw;
  }

  footer{
    grid-column-start: 2;
  }
}
